.card {
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  perspective: 1000;
  transition: all 0.5s cubic-bezier(0.05, 0.05, 0.05, 0.05);
}
