.title-input {
  margin-right: 2%;
  margin-top: 2%;
  padding-left: 4px;

}

.description-input {
  margin-right: 3%;
  margin-top: 2px;
  padding-left: 3px;

}

.form-input {
  height: 100vh;
  margin: 1%;
  padding-bottom: 5%;
  width: 99%;
}

.publish-btn {
  border-radius: 17px;
  font-size: 2rem;
  margin-right: 26px;
  margin-top: 1%;
  width: 20%;
}

.body-input {
  padding-left: 16px;
  textarea {
    border-radius: 5px;
    font-size: 2rem;
    height: 400px;
    padding-left: 16px;
    width: 99%;
  }
}

.form-control {
  border: 1px solid;
}

.Alert {
  background-color: #2ebaae;
  margin-bottom: 4px;
  margin-top: 6%;
  width: 99%;
}

.article-create-page {
  margin: auto;
  padding-top: 3%;
  width: 75%;

}

.tags {
  margin-top: 0.5%;
}

// .description:hover {
//   box-shadow: 3px 3px 3px;
//   z-index: 1;
// }
