.title-input {
  margin-top: 7%;
  margin-left: 0.8%;
  margin-right: 2%;

}

.form-input {
  width: 99%;
  margin: 1%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 5%;
}

.publish-btn {
  width: 20%;
  float: right;
  font-size: 2rem;
  margin-top: 1%;
}

.description-input input {
  border: none;
  margin: 1%;
}

.body-input textarea{
  height: 400px;
  font-size: 2rem;
  border: none;
  margin-right: 2%;
}
