.report {
  margin: 70px auto;
  max-width: 1126px;
  padding: 70px 0;
}

.report-button {
  background: rgb(46, 186, 174);
  border-radius: 17px;
  float: right;
  font-size: 2rem;
  margin-right: 26px;
  margin-top: 1%;
  width: 20%;
}
