$color-background: #3b5998;

.fb-button {
  background-color: $color-background;
}

.col-centered {
  float: none;
  margin: 0 auto;
  width: 550px;
}

$color-warning: #ff0000;

@media all and (min-width: 480px) {

  .login {
    margin-top: 35px;
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 314px;
  }

  .alert-error {
    color: $color-warning;
    font-size: 17px;
    font-weight: 100;
    margin-left: 17%;
    text-align: left;
  }
}
